extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "시스템 작업 관리";

block contents
    .container
        .row.g-0
            .col.d-flex
                h4.my-3.text-truncate= title
                +badge.bg-primary.align-self-center.ms-2.mt-1 모니터링 데이터 삭제
            .col-auto.d-flex.align-items-center
                .hstack.gap-3
                    .btn-group
                        input#mobile-btn.btn-check(
                            type="radio",
                            name="options",
                            autocomplete="off"
                        )
                        label.btn.btn-outline-secondary(for="mobile-btn") 모니터링 데이터 삭제
                        input#desktop-btn.btn-check(
                            type="radio",
                            name="options",
                            autocomplete="off"
                        )
                        label.btn.btn-outline-secondary(for="desktop-btn") 자동실행 오류 정정
                    +btn.btn-dark(
                        data-bs-toggle="modal",
                        data-bs-target="#danger-modal"
                    ) 실행
    .contents.container.pt-2.flex-grow-1.d-flex.flex-column.gap-4
        .table-adaptive
            table#system_data_list.table-bordered.table.table-sm.table-hover.w-100.small
                thead
                    tr
                        th(scope="col") 순번
                        th(scope="col") 작업 일시
                        th(scope="col") 작업 담당자
                        th(scope="col") 대상 데이터(건)
                tbody
                    - for (var i = 1; i <= 10; i++)
                        tr
                            td= i
                            td 2022-10-18 13:17:36
                            td 관리자
                            td 0
    +danger-modal("실행")
        span.d-block 해당 동작을 실행하시겠습니까?
        span.d-block 이후 #[span.fw-bold 되돌릴 수 없습니다.]
