extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "실시간 모니터링";

block contents
    .container
        .row.g-0
            .col.d-flex
                h4.my-3.text-truncate= title
                +badge.bg-primary.align-self-center.ms-2.mt-1 모바일
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    .btn-group
                        input#mobile-btn.btn-check(
                            type="radio",
                            name="options",
                            autocomplete="off"
                        )
                        label.btn.btn-outline-secondary(for="mobile-btn") 모바일
                        input#desktop-btn.btn-check(
                            type="radio",
                            name="options",
                            autocomplete="off"
                        )
                        label.btn.btn-outline-secondary(for="desktop-btn") 데스크탑
    .contents.container.pt-2.flex-grow-1.d-flex.flex-column.gap-4.calculated-height
        .table-adaptive
            table#monitoring.table.small.table-bordered.table-sm.table-hover.w-100
                thead
                    tr
                        th(scope="col") 테스트 케이스
                        th(scope="col") 테스트 스크립트
                        th(scope="col") 에이전트
                        th(scope="col") 장치
                        th(scope="col") 게이트웨이
                tbody#table_row_content
                    - for (var i = 0; i < 37; i++)
                        tr
                            td 데트스 데스크탑 모바일 테스트 케이스
                            td testonem_테스트_스크립트.xml
                            td agent_test_data
                            td Win32_unknown_PC_7.0
                            td __local__
