extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "예약실행 관리";

block contents
    .container
        h4.my-4.me-auto.text-truncate= title
    .bg-tone
        .container.py-4
            .row.gx-3
                .col
                    .row.g-2
                        .col #[+input("예약 제목")]
                        .col #[+input("CSR 번호")]
                        .col #[+select("실행주기")]
                        .col #[+input("작성자")]
                        .col-auto.align-self-end #[+btn.btn-primary 검색]
                        .col-auto.align-self-end #[+btn.btn-secondary 초기화]
    .contents.container.pt-5.flex-grow-1.d-flex.flex-column.gap-4
        .table-responsive
            table#schedule_list.small.table-bordered.table.table-sm.table-hover.w-100.small
                thead
                    tr
                        th(scope="col") 번호
                        th(scope="col") 예약제목
                        th(scope="col") CSR번호
                        th(scope="col") 실행시작
                        th(scope="col") 실행종료
                        th(scope="col") 실행시각
                        th(scope="col") 실행주기유형
                        th(scope="col") 실행주기
                        th(scope="col") 반복횟수
                        th(scope="col") 작성자
                        th(scope="col") 작성일
                        th(scope="col") 메뉴
                tbody
                    - for (var i = 1; i <= 10; i++)
                        tr
                            td= i
                            td 예약테스트
                            td C202012248053B-6
                            td 2021-02-04
                            td 2021-02-04
                            td 16:15
                            td 매일
                            td
                            td 1
                            td 안신한
                            td 2021-02-14
                            td
                                .hstack.gap-1.justify-content-center
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/case-schedule.pug"
                                    ) 예약관리
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/schedule-history.pug"
                                    ) 실행결과
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/reserv-edit.pug"
                                    ) 편집
                                    +table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제
        +pagination
    +danger-modal

//- block scripts
//-     script.
//-         const obj = {
//-             num: 2,
//-             name: "Test",
//-             start_dt: "9999-99-99 99:99:99",
//-             end_dt: "9999-99-99 99:99:99",
//-             exec_time: "9999-99-99 99:99:99",
//-             cycleType: "예약",
//-             repeat_number: "97",
//-             user_name: "test",
//-             creation_dt: "555",
//-         };
//-         const contents = `
//-             <tr>
//-                 <td>ㅋㅋ</td>
//-                 <td>예약테스트</td>
//-                 <td>C202012248053B-6</td>
//-                 <td>2021-02-04</td>
//-                 <td>2021-02-04</td>
//-                 <td>16:15</td>
//-                 <td>매일</td>
//-                 <td></td>
//-                 <td>1</td>
//-                 <td>안신한</td>
//-                 <td>2021-02-14</td>
//-                 <td>
//-                   <div class="hstack gap-1 justify-content-center">
//-                     <a
//-                         class="btn btn-sm py-0 btn-outline-primary popup-link"
//-                         href="/popup/case-schedule.html" target="_blank"
//-                         onclick="alert('Test')"
//-                     >
//-                         예약관리
//-                     </a>
//-                     <a class="btn btn-sm py-0 btn-outline-primary popup-link" href="/popup/schedule-history.html" target="_blank">실행결과</a><a class="btn btn-sm py-0 btn-outline-primary popup-link" href="/popup/reserv-edit.html" target="_blank">
//-                     편집
//-                     </a>
//-                     <button class="btn btn-sm py-0 btn-outline-danger" data-bs-toggle="modal" data-bs-target="#danger-modal">삭제
//-                     </button>
//-                   </div>
//-                 </td>
//-               </tr>
//-             `;
//-         $("tbody").html(contents);
