extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup

block head
    - var title = "테스트케이스 실행";

block contents
    .popup.popup-xl.pb-2
        +popup-title
            .ms-auto.ms-3.hstack.gap-2
                .form-check.form-switch
                    input.form-check-input(
                        type="checkbox",
                        role="switch",
                        data-gr-type="opener",
                        data-gr-target="#execute-scheduling"
                    )
                    label.form-check-label(for="#execute-scheduling") 예약 실행
        #execute-scheduling.collapse
            section.popup-section.container-fluid.bg-tone
                .row 
                    .col 
                        .row.gx-3.gy-2
                            .col #[+input-sm("예약 제목")]
                            .col #[+input-sm("설명")]
                            .d-block.d-lg-none.w-100.h-0
                            .col-auto.col-lg-2
                                +caption-sm("실행 알림")
                                .wrap.d-flex.align-items-center
                                    +check("execute-alert", "execute-alert-email", "small d-flex my-auto", "이메일")
                            .d-none.d-lg-block.w-100.h-0
                            .col-auto
                                +caption-sm("실행주기")
                                .row.flex-nowrap.g-0
                                    .col-auto
                                        .btn-group.mt-auto(role="tablist")
                                            input#every-day.btn-check(
                                                type="radio",
                                                name="execution-term",
                                                autocomplete="off",
                                                checked=""
                                            )
                                            label.btn.btn-outline-secondary.btn-sm(
                                                for="every-day",
                                                data-bs-toggle="pill",
                                                data-bs-target="#tab-every-day"
                                            ) 매일
                                            input#every-week.btn-check(
                                                type="radio",
                                                name="execution-term",
                                                autocomplete="off"
                                            )
                                            label.btn.btn-outline-secondary.btn-sm(
                                                for="every-week",
                                                data-bs-toggle="pill",
                                                data-bs-target="#tab-every-week"
                                            ) 매주
                                            input#every-month.btn-check(
                                                type="radio",
                                                name="execution-term",
                                                autocomplete="off"
                                            )
                                            label.btn.btn-outline-secondary.btn-sm(
                                                for="every-month",
                                                data-bs-toggle="pill",
                                                data-bs-target="#tab-every-month"
                                            ) 매월
                                    .col.tab-content
                                        #tab-every-month.tab-pane.fade.ps-3
                                            +select-sm("1일", true).w-auto
                                        #tab-every-week.tab-pane.fade.ps-3
                                            .btn-group.mt-auto
                                                input#monday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off",
                                                    checked=""
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="monday"
                                                ) 월
                                                input#tuesday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off"
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="tuesday"
                                                ) 화
                                                input#wednesday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off"
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="wednesday"
                                                ) 수
                                                input#thursday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off"
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="thursday"
                                                ) 목
                                                input#friday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off"
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="friday"
                                                ) 금
                                                input#saturday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off"
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="saturday"
                                                ) 토
                                                input#sunday.btn-check(
                                                    type="radio",
                                                    name="execution-day",
                                                    autocomplete="off"
                                                )
                                                label.btn.btn-outline-secondary.btn-sm(
                                                    for="sunday"
                                                ) 일
                                        #tab-every-day.tab-pane.fade
                            .col.col-lg-3 #[+range-sm("예약 기간")]
                            .d-block.d-lg-none.w-100.h-0
                            .col.col-lg-3 #[+time-sm("실행시각")]
                            .col #[+input-sm("반복실행 횟수")(type="number")]
        section.popup-section.container-fluid.dynamic-table
            .popup-toolbar.row.g-0
                .col-auto
                    span.popup-section-title 장치 선택
                    span.badge.bg-secondary
                        span.row-counter 0
                        span 개
                .col-auto.ms-auto
                    .input-group.input-group-sm
                        span.input-group-text 에이전트
                        select.form-select
                            option(selected="") 에이전트 선택
                            option(value="1") One
                            option(value="2") Two
                            option(value="3") Three
            .table-responsive
                table#case_execute.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col")
                                input#execute-all.form-check-input(
                                    type="checkbox",
                                    value="",
                                    name="execute"
                                ) 
                            th(scope="col", data-gr-tag="span") 모델명
                            th(scope="col", data-gr-tag="span") 식별번호
                            th(scope="col", data-gr-tag="span") 해상도
                            th(scope="col", data-gr-tag="span") OS
                            th(scope="col", data-gr-tag="span") 버전
                            th(
                                scope="col",
                                data-gr-class="mb-0",
                                data-gr-tag="span",
                                data-gr-tag-class="badge bg-secondary"
                            ) 상태
                    tbody
                        tr
                            td #[+check("execute", "execute-1", "mb-0")]
                            mixin dummy
                                td iPhone 13 Pro
                                td 012345678901234
                                td 1080x1920
                                td iOS
                                td 15.6.1
                            +dummy
                            td #[span.badge.bg-success 정상]
                        tr
                            td #[+check("execute", "execute-2", "mb-0")]
                            +dummy
                            td #[span.badge.bg-success 정상]
                        tr
                            td #[+check("execute", "execute-3", "mb-0")]
                            +dummy
                            td #[span.badge.bg-success 정상]
                        tr
                            td #[+check("execute", "execute-4", "mb-0")]
                            +dummy
                            td #[span.badge.bg-success 정상]
        +popup-footer
            +btn#execute-btn.row-locked.btn-primary(disabled) 실행
            +btn.btn-secondary.popup-close-btn 취소

    +danger-modal#disconnect-modal
        span.d-block 해당 항목의 연결을 해제하시겠습니까?
        span.d-block 이후 #[span.fw-bold 되돌릴 수 없습니다.]
