extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup
include ../mixins/modal

block head
    - var title = "테스트 데이터 관리";

block contents
    .popup.popup-xl
        +popup-title
            .ms-auto
                +badge.bg-secondary 최종변경일시
                span.badge.text-body.small.opacity-75 2022-05-16 14:45:52
        section.popup-section.container-fluid
            +input-sm("데이터셋 명").mb-3
            +textarea-sm("데이터셋 설명")
        section.popup-section.container-fluid.dynamic-table
            .popup-toolbar.row.g-0
                .col-auto.hstack.gap-2
                    span.popup-section-title 행 관리
                    button.row-locked.btn.btn-danger.btn-sm(
                        data-bs-toggle="modal",
                        data-bs-target="#danger-modal",
                        disabled
                    )
                        span 선택항목 (
                        span.row-counter 0
                        span 개) 삭제
                .col-auto.hstack.gap-2.ms-auto
                    +a-btn.btn-outline-primary.btn-sm.ms-auto
                        | 업로드
                        i.bi.bi-upload.ms-2
                    +a-btn.btn-outline-success.btn-sm.me-2
                        | 양식 다운로드
                        i.bi.bi-download.ms-2
                    +a-btn.btn-primary.btn-sm.row-add-btn 추가
                    +a-btn.btn-secondary.btn-sm 초기화
            .table-adaptive.bg-light(style="min-height: 224px")
                table#data_list.small.table-bordered.table.table-sm.table-hover.bg-white.mb-0
                    thead
                        tr
                            th.cell-check(scope="col")
                                input#column-all.form-check-input(
                                    type="checkbox",
                                    value="",
                                    name="column-chk"
                                ) 
                            th.cell-check(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-name"
                            ) 번호
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-0"
                            ) sample
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-1"
                            ) sample
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-2"
                            ) sample sample sample sample
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-3"
                            ) long long long long long long long long long long long long long
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-11"
                            ) sample
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-12"
                            ) sample
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-13"
                            ) sample
                            th(
                                scope="col",
                                data-gr-class="p-0 overflow-visible",
                                data-gr-tag="input",
                                data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                data-gr-tag-type="text",
                                data-gr-tag-name="column-14"
                            ) sample
                    tbody
                        tr 
                            td.cell-check
                                input.form-check-input(
                                    type="checkbox",
                                    value="",
                                    name="column-chk",
                                    data-gr-type="condition",
                                    data-gr-target="#column-remove-btn",
                                    data-gr-count="#column-count"
                                ) 
                            td.cell-check.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
                            td.p-0.overflow-visible #[input.form-control.form-control-sm.lh-sm.rounded-0.border-0(type="text", name="column-name")]
        +popup-footer
            +btn.btn-primary 저장
            +btn.btn-secondary.popup-close 취소
    +danger-modal
