extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup

block head
    - var title = "수동 테스트 데이터셋 연결";

block contents
    .popup.popup-xl.pb-2
        +popup-title
            .ms-auto.ms-3.hstack.gap-2
                +a-btn.btn-outline-secondary.btn-sm.popup-link(
                    href="/src/view/popup/dataset.pug"
                ) 테스트 데이터셋 신규등록
        section.container-fluid.bg-tone.py-3.d-flex.flex-column
            .row.gx-2
                .col #[+select-sm("시스템")]
                .col #[+input-sm("데이터셋 명")]
                .col-auto.d-flex.flex-column
                    small.d-flex.align-items-center
                        +check#owned_only.me-1
                        label.form-label.m-0(for="owned_only") 내가 작성한 데이터셋만 보기
                    .hstack.gap-1.mt-auto
                        +btn.btn-primary.btn-sm.flex-grow-1 검색
                        +btn.btn-secondary.btn-sm.flex-grow-1 초기화
        section.container-fluid.vstack.gap-4.d-flex.flex-column
            .table-responsive
                .mt-3.mb-2
                    span.fw-bold.me-2 데이터셋 목록
                    +badge.bg-secondary.lh-sm 10
                table#dataset_connect.small.table-bordered.table.table-sm.table-hover.w-100.small
                    thead
                        tr
                            th(scope="col") 번호
                            th(scope="col") 데이터셋 명
                            th(scope="col") 설명
                            th(scope="col") 시스템
                            th(scope="col") 작성자
                            th(scope="col") 작성일
                    tbody
                        - for (var i = 1; i <= 10; i++)
                            tr
                                td= i
                                td= `데이터셋-300${i - 1}`
                                td= `데이터셋설명-306${i}`
                                td 시스템-1
                                td 김신한
                                td 2021-02-17 17:03:24
                +pagination
        section.container-fluid.vstack.gap-4.d-flex.flex-column
            .table-adaptive
                .mt-3.mb-2
                    span.fw-bold.me-2 데이터 목록
                    +badge.bg-secondary.lh-sm 1
                table#data_list.small.table-bordered.table.table-sm.table-hover.w-100.small
                    thead
                        tr
                            th.cell-check(scope="col")
                                input#dataset-all.form-check-input(
                                    type="checkbox",
                                    value="",
                                    name="dataset"
                                ) 
                            th.cell-check(scope="col") 번호
                            th(scope="col") 신청일자
                            th(scope="col") 지급여부
                            th(scope="col") 신청방법
                            th(scope="col") 대출번호
                    tbody
                        tr 
                            td.cell-check #[+check("dataset", "dataset-1", "mb-0")]
                            td.cell-check 1
                            td 입력값 3056-1-1
                            td 입력값 3056-2-1
                            td 입력값 3056-3-1
                            td 입력값 3056-4-1
        +popup-footer
            +btn.btn-primary.popup-close-btn 저장
            +btn.btn-secondary.popup-close-btn 취소

    +danger-modal#disconnect-modal
        span.d-block 해당 항목의 연결을 해제하시겠습니까?
        span.d-block 이후 #[span.fw-bold 되돌릴 수 없습니다.]
