extends ../layout/popupBase
include ../mixins/form
include ../mixins/button
include ../mixins/badge
include ../mixins/modal
include ../mixins/pagination
include ../mixins/popup

block head
    - var title = "스크립트 신규 등록";

block contents
    .popup.popup-lg.vstack.gap-3.pb-2
        +popup-title
            .ms-auto.ms-3
                +badge.bg-secondary 최종변경일시
                span.badge.text-body.small.opacity-75 2022-05-16 14:45:52
        .container-fluid
            .row.gx-2.gy-1
                .col-10
                    .row.g-2
                        .col-auto
                            +caption-sm("파일 선택")
                            .w-100
                            .btn-group.mt-auto(role="tablist")
                                button.btn.btn-outline-secondary.btn-sm.active(
                                    data-bs-toggle="pill",
                                    data-bs-target="#file-local",
                                    type="button",
                                    role="tab"
                                ) 내 PC에서
                                button.btn.btn-outline-secondary.btn-sm(
                                    data-bs-toggle="pill",
                                    data-bs-target="#file-server",
                                    type="button",
                                    role="tab"
                                ) 서버에서
                        .col.tab-content
                            #file-local.tab-pane.fade.show.active
                                +file-sm("내 PC에서 업로드")
                            #file-server.tab-pane.fade
                                +caption-sm("서버에서 업로드")
                                .input-group.input-group-sm 
                                    .form-control.input-group.input-group-sm.p-0.fake-file
                                        span.input-group-text(
                                            role="button",
                                            data-bs-toggle="modal",
                                            data-bs-target="#server-file"
                                        ) 파일 선택
                                        label.form-control(
                                            role="button",
                                            data-bs-toggle="modal",
                                            data-bs-target="#server-file"
                                        ) 선택된 파일 없음
                                    +btn.btn-secondary(
                                        type="button"
                                    ) 업로드

                .col-2
                    +input-sm("파일 크기")(disabled, placeholder="0 KB")
                .w-100
                .col
                    +select-sm("시스템")
                .col
                    +select-sm("업무")
                .col
                    +caption-sm("종류")
                    .btn-group.btn-group-sm.w-100
                        +radio-btn-secondary("script-type", "script-mobile") Mobile
                        +radio-btn-secondary("script-type", "script-desktop") Desktop
                .col-12
                    +textarea-sm("설명")
                .col-12 
                    +caption-sm("수정 이력")
                    .table-responsive
                        table.small.table-bordered.table.table-sm.table-hover.w-100
                            thead
                                tr
                                    th(scope="col") 수정자
                                    th(scope="col") 수정일시
                            tbody
                                - for (var i = 0; i < 3; i++)
                                    tr
                                        td 김신한
                                        td 2022-08-30 16:30:00
        +popup-footer
            +btn.btn-primary 저장
            +btn.btn-secondary.popup-close 취소
    include ../modals/server-file
