#case-connect.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-xl
        .modal-content
            .modal-header
                h5.modal-title 테스트케이스 연결
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal",
                    aria-label="Close"
                )
            .bg-tone
                .modal-body
                    .row.gx-2
                        .col
                            .row.gx-2.gy-1
                                .col #[+select-sm("시스템")]
                                .col #[+select-sm("업무")]
                                .col #[+input-sm("화면ID")]
                                .col #[+input-sm("케이스ID")]
                                .w-100
                                .col #[+input-sm("화면명")]
                                .col #[+input-sm("케이스명")]
                                .col-3 #[+input-sm("등록자명")]
                        .col-auto
                            .vstack.h-100.gap-1
                                button.btn.btn-primary.btn-sm.flex-grow-1 검색
                                button.btn.btn-secondary.btn-sm.flex-grow-1 초기화
            .modal-body
                .row.mb-2.g-2.align-items-center
                    .col.auto
                        span.fs-6.mb-2
                            span.fw-bold 테스트케이스 목록
                            small.ms-3 * 음영처리(회색) 항목은 이미 등록된 테스트케이스 입니다.
                    .col-auto
                        button.case-new.btn.btn-secondary.btn-sm(
                            data-gr-toggle="modal",
                            data-gr-target="#case-new"
                        ) 테스트케이스 신규 생성
                .table-responsive
                    table#case_connect.small.table-bordered.table.table-sm.table-hover.w-100.small
                        thead
                            tr
                                th(scope="col") 시스템
                                th(scope="col") 업무
                                th(scope="col") 화면/서비스/JOB ID
                                th(scope="col") 화면/서비스/JOB 명
                                th(scope="col") 테스트케이스 명
                                th(scope="col") 등록자명
                                th(scope="col") 생성일자
                                th(scope="col") 스크립트
                                th(scope="col") 메뉴
                        tbody
                            tr.table-secondary
                                td 시스템-2
                                td 시스템2-업무26
                                td 동해물과 백두산이
                                td 마르고 닭도록
                                td 하느님이 보우하사
                                td 관리자
                                td 2022-05-16
                                td 
                                    a(
                                        href="#",
                                        data-gr-toggle="modal",
                                        data-gr-target="#script-connect"
                                    ) homepage_conn.xml]
                                td
                                    .hstack.gap-1.justify-content-center
                                        button.btn.btn-sm.btn-outline-primary.py-0(
                                            data-gr-toggle="modal",
                                            data-gr-target="#case-edit"
                                        ) 편집
                                        button.btn.btn-sm.btn-outline-primary.py-0(
                                            data-gr-toggle="modal",
                                            data-gr-target="#case-new"
                                        ) 참조등록
                                        button.btn.btn-sm.btn-outline-dark.py-0 선택
                            tr
                                td 시스템-2
                                td 시스템2-업무26
                                td 동해물과 백두산이
                                td 마르고 닭도록
                                td 하느님이 보우하사
                                td 관리자
                                td 2022-05-16
                                td
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-gr-toggle="modal",
                                        data-gr-target="#script-connect"
                                    ) 연결
                                td
                                    .hstack.gap-1.justify-content-center
                                        button.btn.btn-sm.btn-outline-primary.py-0(
                                            data-gr-toggle="modal",
                                            data-gr-target="#case-edit"
                                        ) 편집
                                        button.btn.btn-sm.btn-outline-primary.py-0(
                                            data-gr-toggle="modal",
                                            data-gr-target="#case-new"
                                        ) 참조등록
                                        button.btn.btn-sm.btn-outline-dark.py-0 선택
                            tr
                                td 시스템-2
                                td 시스템2-업무26
                                td 동해물과 백두산이
                                td 마르고 닭도록
                                td 하느님이 보우하사
                                td 관리자
                                td 2022-05-16
                                td 
                                    a(
                                        href="#",
                                        data-gr-toggle="modal",
                                        data-gr-target="#script-connect"
                                    ) homepage_conn.xml]
                                td
                                    .hstack.gap-1.justify-content-center
                                        button.btn.btn-sm.btn-outline-primary.py-0(
                                            data-gr-toggle="modal",
                                            data-gr-target="#case-edit"
                                        ) 편집
                                        button.btn.btn-sm.btn-outline-primary.py-0(
                                            data-gr-toggle="modal",
                                            data-gr-target="#case-new"
                                        ) 참조등록
                                        button.btn.btn-sm.btn-outline-dark.py-0 선택
                +pagination
            .modal-footer
                button.btn.btn-secondary.btn-conditional(
                    type="button",
                    data-bs-dismiss="modal"
                ) 취소
