#case-edit.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            .modal-header
                h5.modal-title 테스트케이스 편집
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal",
                    aria-label="Close"
                )
            .modal-body
                .row.gx-2.gy-1
                    .col #[+select-sm("시스템", true)]
                    .col #[+select-sm("업무", true)]
                    .col #[+select-sm("중요도", true)]
                    .col #[+select-sm("난이도", true)]
                    .w-100
                    .col #[+input-sm("화면/서비스/JOB ID", true)]
                    .col #[+input-sm("화면/서비스/JOB 명", true)]
                    .col #[+input-sm("테스트케이스명", true)]
                    .col-12 #[+textarea-sm("테스트 내용", true)]
                    .col-12 #[+textarea-sm("확인 방법", true)]
                    .col-12 #[+textarea-sm("입력값")]
                    .col-12 #[+textarea-sm("출력값")]
            .modal-footer
                button.btn.btn-primary 저장
                button.btn.btn-secondary(
                    type="button",
                    data-bs-dismiss="modal"
                ) 취소
