include ../mixins/button
include ../mixins/badge
include ../mixins/modal

#case-detail.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg.modal-dialog-scrollable
        .modal-content
            +modal-header("테스트케이스 상세조회")
            .modal-body
                .row.gx-2.gy-3
                    .col #[+input-sm("시스템")(disabled)]
                    .col #[+input-sm("업무")(disabled)]
                    .col #[+input-sm("중요도")(disabled)]
                    .col #[+input-sm("난이도")(disabled)]
                    .w-100.m-0
                    .col #[+input-sm("화면/서비스/JOB ID")(disabled)]
                    .col #[+input-sm("화면/서비스/JOB 명")(disabled)]
                    .col #[+input-sm("테스트케이스명")(disabled)]
                    .col-12 #[+textarea-sm("테스트 내용")(disabled)]
                    .col-12 #[+textarea-sm("확인 방법")(disabled)]
                    .col-12 #[+textarea-sm("입력값")(disabled)]
                    .col-12 #[+textarea-sm("출력값")(disabled)]
                    .col-12
                        .row.mb-2.g-2.align-items-center
                            .col.auto
                                span.fs-6.mb-2.fw-bold 테스트 결과 목록
                        .table-responsive
                            table#test_result_list.small.table-bordered.table.table-sm.table-hover.w-100
                                thead
                                    tr
                                        th(scope="col") CSR 번호
                                        th(scope="col") 결함관리 번호
                                        th(scope="col") 제목
                                        th(scope="col") 테스트 담당자
                                        th(scope="col") 결과
                                        th(scope="col") 진행 상태
                                tbody
                                    - for (var i = 1; i <= 3; i++)
                                        tr
                                            td= i
                                            td 123123
                                            td 원숭이 나무에 올라가
                                            td 김신한
                                            td 미실행
                                            td #[+gr-badge-primary("modal", "#progress-history", "badge-history") 진행중]
                    .col-12
                        .table-wrap.d-flex.flex-column
                        .row.mb-2.g-2.align-items-center
                            .col.auto
                                span.fs-6.mb-2.fw-bold 데이터셋 목록
                        .table-responsive
                            table#dataset_list.small.table-bordered.table.table-sm.table-hover.w-100
                                thead
                                    tr
                                        th(scope="col") 번호
                                tbody
                                    - for (var i = 1; i <= 3; i++)
                                        tr
                                            td= i
            .modal-footer
                +btn-primary 저장
                +btn-cancel-modal 취소
