include ../mixins/button
include ../mixins/modal

#change-password.modal.fade(
    tabindex="-1",
    data-bs-keyboard="false",
    data-bs-backdrop="static"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            +modal-header("비밀번호 변경")
            .text-muted.d-flex.align-items-center.lh-sm.bg-tone
                .modal-body
                    i.bi.bi-info-circle.me-2
                    span 비밀번호는 6~16자로 영문자, 숫자, 특수문자를 모두 포함해야 합니다.
            .modal-body
                form#change-form.needs-validation(method="POST", novalidate)
                    .row.gx-0.gy-3
                        label.col-2.col-form-label(for="current-password") 현재 비밀번호
                        .col-10
                            input#current-password.form-control(
                                type="text",
                                placeholder="현재 비밀번호"
                            )
                            .invalid-feedback 비밀번호를 확인해주세요.
                        label.col-2.col-form-label(for="password") 새 비밀번호
                        .col-10
                            input#password.form-control.is-invalid(
                                type="password",
                                placeholder="새 비밀번호"
                            )
                            .invalid-feedback 비밀번호는 6~16자로 영문자, 숫자, 특수문자를 모두 포함해야 합니다.
                        label.col-2.col-form-label(for="password-confirm") 새 비밀번호 확인
                        .col-10
                            input#password-confirm.form-control.is-invalid(
                                type="password",
                                placeholder="새 비밀번호 확인"
                            )
                            .invalid-feedback 비밀번호 확인이 일치하지 않습니다.
            .modal-footer.justify-content-center
                button#change-btn.btn.btn-primary 변경
                button.btn.btn-secondary(data-bs-dismiss="modal") 취소
