#request-detail.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            .modal-header
                h5.modal-title 요구사항 상세내용
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal",
                    aria-label="Close"
                )
            .modal-body
                p 요구사항상세내용-1416311
            .modal-footer
                button.btn.btn-secondary(
                    type="button",
                    data-bs-dismiss="modal"
                ) 확인
