extends layout/base
include mixins/form
include mixins/pagination
include mixins/button

block head
    - var title = "데이터셋 관리";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +a-btn-outline-primary(
                        href="/src/view/popup-case.pug",
                        onclick="pop(this)"
                    )
                        span.me-2 신규등록
                        i.bi-file-earmark-plus
    .bg-tone
        .container.py-4
            .row.gx-3.gy-2
                .col #[+select("시스템")]
                .col #[+input("데이터셋명")]
                .col #[+input("등록자")]
                .col-auto.align-self-end #[button.btn.btn-primary 검색]
                .col-auto.align-self-end #[button.btn.btn-secondary 초기화]
    .contents.container.pt-5.pb-6.flex-grow-1.d-flex.flex-column.gap-5
        .table-responsive
            table#case_list.small.table-bordered.table.table-sm.table-hover.w-100.small
                thead
                    tr
                        th(scope="col") 시스템
                        th(scope="col") 업무
                        th(scope="col") 화면/서비스/JOB ID
                        th(scope="col") 화면/서비스/JOB 명
                        th(scope="col") 테스트케이스 ID
                        th(scope="col") 테스트케이스 명
                        th(scope="col") 등록자명
                        th(scope="col") 등록일자
                tbody
                    tr
                        td 시스템-2
                        td 시스템2-업무26
                        td 동해물과 백두산이
                        td 마르고 닭도록
                        td 하느님이 보우하사
                        td 
                            +gr-link(
                                href="/src/view/popup-case.pug",
                                onclick="pop(this)"
                            ) homepage_conn_xml
                        td 관리자
                        td 2022-05-16
        +pagination
    include modals/remove
