mixin range(caption)
    if caption
        label.form-label= caption
    .date-range-wrap.position-relative
        .input-group
            input.start-date.form-control(type="text", placeholder="시작 일자")
            span.input-group-text ~
            input.end-date.form-control(type="text", placeholder="종료 일자")
        .range-button.h-100.w-100.position-absolute.top-0.start-0.opacity-0

mixin select(caption)
    if caption
        label.form-label= caption
    select.form-select
        option(selected="") 전체
        option(value="1") One
        option(value="2") Two
        option(value="3") Three

mixin input(caption)
    if caption
        label.form-label= caption
    input.form-control(type="text", placeholder=caption)

mixin searchBox(caption)
    if caption
        label.form-label= caption
    input.form-control(type="text", placeholder=caption)
