extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/badge
include ../mixins/modal

block head
    - var title = "테스트케이스 상세조회";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2.justify-content-center
                    +btn.btn-primary(disabled) 승인
                    +btn.btn-primary(disabled) 배정
                    +btn.btn-secondary(disabled) 회수
                    +btn.btn-secondary(disabled) 반려
                    +btn.btn-secondary(disabled) 제외
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-5
        section.d-flex.flex-column
            span.fs-4.fw-bold.mb-2 CSR 정보
            .table-responsive
                table#design_req.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") CSR 번호
                            th(scope="col") CSR 제목
                            th(scope="col") 완료 합의일
                            th(scope="col") CSR 요청일
                            th(scope="col") BA
                            th(scope="col") AA
                            th(scope="col") 개발부서
                            th(scope="col") 진행상태
                            th(scope="col") 테스트요청일
                            th(scope="col") 테스터
                    tbody
                        tr
                            td C202012248053B-6
                            td requirement_spec-1416308
                            td 2022-08-16
                            td 2022-08-16
                            td 최신한
                            td 정신한
                            td 솔루션개발본부
                            td #[+a-badge-history(data-gr-toggle="modal", data-gr-target="#progress-history") 진행중]
                            td 2022-08-16
                            td 이건우
        section.d-flex.flex-column
            .row.mb-2.g-2.align-items-center
                .col.auto
                    span.fs-4.fw-bold.mb-2 기능상세설명
                .col-auto
                    +btn.btn-secondary.btn-sm(modal, #case-connect)(
                        data-gr-varying="회귀테스트 추가"
                    ) 회귀테스트 추가
            .table-responsive
                table#function_detail.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 요구사항 ID
                            th(scope="col") 요구사항명
                            th(scope="col") 요청구분
                            th(scope="col") 내용
                            th(scope="col") 메뉴
                    tbody
                        tr
                            td REQ-001
                            td requirement-1416310
                            td 수정
                            td #[a(href="#", data-bs-toggle="modal", data-bs-target="#request-detail") 요구사항상세내용-1416311]
                            td
                                .hstack.gap-1.justify-content-center
                                    +table-btn.btn-outline-primary(
                                        modal,
                                        #case-connect
                                    )(
                                        data-gr-varying="테스트케이스 연결"
                                    ) 테스트케이스 연결
                                    button.btn.btn-sm.btn-outline-primary.py-0 결과문서
        section.d-flex.flex-column
            .row.mb-2.g-2.align-items-center
                .col.auto
                    span.fs-4.fw-bold.mb-2 요구사항별 테스트케이스
                .col-auto
                    +btn.btn-secondary.btn-sm(modal, #all-success) 일괄 정상
            .table-responsive
                table#requirement_case.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 번호
                            th(scope="col") 시스템
                            th(scope="col") 요구사항 ID
                            th(scope="col") 케이스 ID
                            th(scope="col") 케이스명
                            th(scope="col") 스크립트명
                            th(scope="col") 등록자
                            th(scope="col") 테스터
                            th(scope="col") 테스트 결과
                            th(scope="col") 메뉴
                    tbody
                        tr
                            td 1
                            td 시스템-6
                            td REQ-001
                            td #[a.case-id(href="#") TC202010060063]
                            td testcase-1321056
                            td
                            td 정신한
                            td 관리자
                            td #[+badge.bg-success 정상]
                            td
                                .hstack.gap-1.justify-content-center
                                    button.case-detail-btn.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-editor",
                                        data-gr-varying="테스트케이스 요약"
                                    ) 자세히
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-execute"
                                    ) 실행
                                    button.btn.btn-sm.btn-outline-secondary.py-0(
                                        disabled
                                    ) (실행이력 없음)
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-result"
                                    ) 결과입력
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-history"
                                    ) 결과이력
                                    +table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제
                        tr
                            td 2
                            td 시스템-6
                            td 회귀테스트
                            td #[a.case-id(href="#") grid1one-grid2two]
                            td testcase-1321056
                            td
                            td 정신한
                            td 관리자
                            td #[+badge.bg-success 정상]
                            td
                                .hstack.gap-1.justify-content-center
                                    button#case-detail-btn.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-editor",
                                        data-gr-varying="테스트케이스 요약"
                                    ) 자세히
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-execute"
                                    ) 실행
                                    button.btn.btn-sm.btn-outline-secondary.py-0(
                                        disabled
                                    ) (실행이력 없음)
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-result"
                                    ) 결과입력
                                    button.btn.btn-sm.btn-outline-primary.py-0(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-history"
                                    ) 결과이력
                                    +table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제
        section.d-flex.flex-column
            .row.mb-2.g-2.align-items-center
                .col.auto
                    span.fs-4.fw-bold.mb-2 자동테스트 수행이력
                .col-auto
                    button#history-remove-btn.btn.btn-danger.btn-sm(
                        data-bs-toggle="modal",
                        data-bs-target="#danger-modal",
                        disabled
                    ) 선택항목 삭제
                .col-auto
                    .input-group.input-group-sm
                        span.input-group-text 케이스ID
                        input#case-search.form-control(
                            type="text",
                            placeholder="검색어를 입력하세요"
                        )
                        button.input-reset.btn.btn-secondary.opacity-50(
                            type="button"
                        ) 초기화
                        +btn.btn-secondary(
                            type="button"
                        ) 검색
            .table-responsive
                table#auto_history.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col")
                                input#history-all.form-check-input(
                                    type="checkbox",
                                    value="",
                                    name="history",
                                    data-gr-type="condition",
                                    data-gr-target="#history-remove-btn"
                                ) 
                            th(scope="col") 시스템
                            th(scope="col") 케이스 ID
                            th(scope="col") 케이스명
                            th(scope="col") 스크립트명
                            th(scope="col") 테스터
                            th(scope="col") 테스트일자
                            th(scope="col") 메뉴
                    tbody
                        tr
                            td #[+check("history", "history-1", "mb-0", null, "condition", "#history-remove-btn")]
                            td 시스템-6
                            td #[a(href="#") TC202010060063]
                            td testcase-1321056
                            td
                            td 정신한
                            td 2022-08-18
                            td
                                .hstack.gap-1.justify-content-center
                                    +table-btn.btn-outline-primary(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-editor",
                                        data-gr-varying="테스트케이스 요약"
                                    ) 자세히
                                    +table-btn.btn-outline-secondary(
                                        disabled
                                    ) (실행이력 없음)
            +pagination
        section.d-flex.flex-column
            .row.mb-2.g-2.align-items-center
                .col.auto
                    span.fs-4.fw-bold.mb-2 첨부파일 목록
                .col-auto
                    +file(null, true)
            .table-responsive
                table#attachment_list.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 번호
                            th(scope="col") 첨부파일
                            th(scope="col") 파일크기
                            th(scope="col") 구분
                            th(scope="col") 등록자
                            th(scope="col") 등록일시
                            th(scope="col") 삭제
                    tbody
                        tr
                            td 1
                            td #[a(href="#") 첨부파일첨부파일.txt]
                            td 15 Byte
                            td .txt
                            td 관리자
                            td 2022-06-14 09:54:35
                            td #[+table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제]
                        tr
                            td 2
                            td #[a(href="#") 첨부파일첨부파일.txt]
                            td 15 Byte
                            td .txt
                            td 관리자
                            td 2022-06-14 09:54:35
                            td #[+table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제]

    include ../modals/design-req/request-detail
    include ../modals/design-req/case-connect
    include ../modals/design-req/script-connect
    include ../modals/case-editor
    include ../modals/design-req/all-success
    include ../modals/design-req/progress-history
    include ../modals/design-req/case-execute
    include ../modals/design-req/case-result
    include ../modals/design-req/case-history
    +danger-modal
block scripts
    script(src="/src/js/pages/design_req.js", type="module") 
