extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/badge
include ../mixins/modal

block head
    - var title = "CSR 상세조회";

block contents
    .container
        .row.g-0
            .col
                h4.my-3.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2.justify-content-center
                    +a-btn.btn-primary.popup-link(
                        href="/src/view/popup/csr-approve.pug"
                    ) 승인
                    +a-btn.btn-primary.popup-link(
                        href="/src/view/popup/csr-person.pug"
                    ) 배정
                    +a-btn.btn-primary.popup-link(
                        href="/src/view/popup/csr-withdraw.pug"
                    ) 회수
                    +btn.btn-secondary(disabled) 반려
                    +a-btn.btn-primary.popup-link(
                        href="/src/view/popup/csr-exclude.pug"
                    ) 제외
                    +a-btn.btn-primary.popup-link(
                        href="/src/view/popup/csr-action.pug"
                    ) 조치 요청
                    +btn.btn-secondary(disabled) 승인 요청
    .contents.container.pt-4.flex-grow-1.d-flex.flex-column.gap-4
        section.d-flex.flex-column
            span.fs-4.fw-bold.mb-2 CSR 정보
            .table-responsive
                table#design_req.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") CSR 번호
                            th(scope="col") CSR 제목
                            th(scope="col") 완료 합의일
                            th(scope="col") 업무 유형
                            th(scope="col") CSR 요청자
                            th(scope="col") CSR 요청일
                            th(scope="col") BA
                            th(scope="col") AA
                            th(scope="col") 개발부서
                            th(scope="col") 진행상태
                            th(scope="col") 테스트요청일
                            th(scope="col") 테스터
                    tbody
                        tr
                            td C202012248053B-6
                            td requirement_spec-1416308
                            td 2022-08-16
                            td 업무효율화
                            td 요청자
                            td 2022-08-16
                            td 최신한
                            td 정신한
                            td 솔루션개발본부
                            td #[+a-badge-history.popup-link(href="/src/view/popup/progress-history.pug") 진행중]
                            td 2022-08-16
                            td 이건우
        section.d-flex.flex-column
            .hstack
                span.fs-4.fw-bold.mb-2.me-auto 기능상세설명
                +a-btn.btn-secondary.btn-sm.popup-link(
                    href="/src/view/popup/case-connect.pug"
                ) 회귀테스트 추가
            .table-responsive
                table#function_detail.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 요구사항 ID
                            th(scope="col") 요구사항명
                            th(scope="col") 요청구분
                            th(scope="col") 내용
                            th(scope="col") 메뉴
                    tbody
                        tr
                            td REQ-001
                            td requirement-1416310
                            td 수정
                            td #[+link.popup-link(href="/src/view/popup/case.pug") 요구사항상세내용-1416311]
                            td
                                .hstack.gap-1.justify-content-center
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/case-simple.pug"
                                    ) 간단 결과 입력
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/case-connect.pug"
                                    ) 테스트케이스 연결
                                    +table-btn.btn-outline-primary 결과문서
        section.g-2.align-items-center
            .hstack
                span.fs-4.fw-bold.mb-2.me-auto 요구사항별 테스트케이스
                +btn.btn-secondary.btn-sm.btn-secondary(
                    data-bs-toggle="modal",
                    data-bs-target="#all-success"
                ) 일괄 정상
            .table-responsive
                table#requirement_case.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 번호
                            th(scope="col") 시스템
                            th(scope="col") 요구사항 ID
                            th(scope="col") 케이스 ID
                            th(scope="col") 케이스명
                            th(scope="col") 스크립트명
                            th(scope="col") 등록자
                            th(scope="col") 테스터
                            th(scope="col") 테스트 결과
                            th(scope="col") 메뉴
                    tbody
                        tr
                            td 1
                            td 시스템-6
                            td REQ-001
                            td
                                +link.text-deliver(
                                    role="button",
                                    data-gr-target="#case-search"
                                ) TC202010060063
                            td testcase-1321056
                            td
                            td 정신한
                            td 관리자
                            td #[+badge.bg-success 정상]
                            td
                                .hstack.gap-1.justify-content-center
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/case.pug"
                                    ) 자세히
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/case-execute.pug"
                                    ) 실행
                                    +table-btn.btn-outline-secondary(
                                        disabled="true"
                                    ) (실행이력 없음)
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/case-result.pug"
                                    ) 결과입력
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/result-history.pug"
                                    ) 결과이력
                                    +table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제
                        tr
                            td 2
                            td 시스템-6
                            td 회귀테스트
                            td
                                +link.text-deliver(
                                    role="button",
                                    data-gr-target="#case-search"
                                ) grid1one-grid2two
                            td testcase-1321056
                            td
                            td 정신한
                            td 관리자
                            td #[+badge.bg-success 정상]
                            td
                                .hstack.gap-1.justify-content-center
                                    +a-table-btn.btn-outline-primary.py-0.popup-link(
                                        href="/src/view/popup/case.pug"
                                    ) 자세히
                                    +table-btn.btn-outline-primary(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-execute"
                                    ) 실행
                                    +table-btn.btn-outline-secondary(
                                        disabled="true"
                                    ) (실행이력 없음)
                                    +table-btn.btn-outline-primary(
                                        data-bs-toggle="modal",
                                        data-bs-target="#case-result"
                                    ) 결과입력
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/result-history.pug"
                                    ) 결과이력
                                    +table-btn.btn-outline-danger(
                                        data-bs-toggle="modal",
                                        data-bs-target="#danger-modal"
                                    ) 삭제
        section#test-history.d-flex.flex-column.dynamic-table
            .row.mb-2.g-2.align-items-center
                .col-auto
                    span.fs-4.fw-bold.mb-2 자동테스트 수행이력
                .col-auto.me-auto
                    button.row-locked.btn.btn-danger.btn-sm(
                        data-bs-toggle="modal",
                        data-bs-target="#danger-modal",
                        disabled
                    )
                        span 선택항목 (
                        span.row-counter 0
                        span 개) 삭제
                .col-auto
                    .input-group.input-group-sm
                        span.input-group-text 케이스ID
                        input#case-search.form-control(
                            type="text",
                            placeholder="검색어를 입력하세요"
                        )
                        +btn.btn-secondary.opacity-50.input-reset(
                            type="button"
                        ) 초기화
                        +btn.btn-secondary(
                            type="button"
                        ) 검색
            .table-responsive
                table#auto_history.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col")
                                input#history-all.form-check-input(
                                    type="checkbox",
                                    value="",
                                    name="history"
                                ) 
                            th(scope="col") 시스템
                            th(scope="col") 케이스 ID
                            th(scope="col") 케이스명
                            th(scope="col") 스크립트명
                            th(scope="col") 테스터
                            th(scope="col") 테스트일자
                            th(scope="col") 메뉴
                    tbody
                        tr
                            td #[+check("history", "history-1", "mb-0")]
                            td 시스템-6
                            td #[a(href="#") TC202010060063]
                            td testcase-1321056
                            td
                            td 정신한
                            td 2022-08-18
                            td
                                .hstack.gap-1.justify-content-center
                                    +a-table-btn.btn-outline-primary.popup-link(
                                        href="/src/view/popup/detail.pug"
                                    ) 자세히
                                    +table-btn.btn-outline-secondary(
                                        disabled
                                    ) (실행이력 없음)
            +pagination
        section.d-flex.flex-column
            .row.mb-2.g-2.align-items-center
                .col-auto.me-auto
                    span.fs-4.fw-bold.mb-2 첨부파일 목록
                .col-auto
                    +file-sm(null, true)
            .table-responsive
                table#attachment_list.small.table-bordered.table.table-sm.table-hover.w-100
                    thead
                        tr
                            th(scope="col") 번호
                            th(scope="col") 첨부파일
                            th(scope="col") 파일크기
                            th(scope="col") 구분
                            th(scope="col") 등록자
                            th(scope="col") 등록일시
                            th(scope="col") 삭제
                    tbody
                        tr
                            td 1
                            td #[a(href="#") 첨부파일첨부파일.txt]
                            td 15 Byte
                            td .txt
                            td 관리자
                            td 2022-06-14 09:54:35
                            td
                                +table-btn.btn-outline-danger(
                                    data-bs-toggle="modal",
                                    data-bs-target="#danger-modal"
                                ) 삭제
                        tr
                            td 2
                            td #[a(href="#") 첨부파일첨부파일.txt]
                            td 15 Byte
                            td .txt
                            td 관리자
                            td 2022-06-14 09:54:35
                            td 
                                +table-btn.btn-outline-danger(
                                    data-bs-toggle="modal",
                                    data-bs-target="#danger-modal"
                                ) 삭제

    +danger-modal
    +confirm-modal#all-success 
        span.d-block 테스트 결과가 입력되지 않은 건을
        span.d-block #[span.fw-bold 일괄 정상 처리]하시겠습니까?
block scripts
