extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal

block head
    - var title = "스크립트 관리";

block contents
    .container
        .row.g-0
            .col
                h4.my-4.me-auto.text-truncate= title
            .col-auto.d-flex.align-items-center
                .hstack.gap-2
                    +btn.btn-outline-success
                        span.me-2 Excel 다운로드
                        i.bi-file-earmark-excel
                    +a-btn.btn-outline-primary.popup-link(
                        href="/src/view/popup/script.pug"
                    )
                        span.me-2 신규등록
                        i.bi-file-earmark-plus
    .bg-tone
        .container.py-4
            .row.gx-3.gy-2
                .col #[+input("스크립트명")]
                .col #[+input("등록자")]
                .col #[+select("종류")]
                .w-100.d-block.d-lg-none
                .col #[+select("시스템")]
                .col #[+select("업무")]
                .col-auto.align-self-end #[+btn.btn-primary 검색]
                .col-auto.align-self-end #[+btn.btn-secondary 초기화]

    .contents.container.pt-5.flex-grow-1.d-flex.flex-column.gap-4
        .table-responsive
            table#design_script.table.table-sm.table-hover.table-bordered.w-100.small
                thead
                    tr
                        th(scope="col") 번호
                        th(scope="col") 시스템
                        th(scope="col") 업무
                        th(scope="col") 파일명
                        th(scope="col") 설명
                        th(scope="col") 종류
                        th(scope="col") 크기
                        th(scope="col") 등록자
                        th(scope="col") 등록일
                        th(scope="col") 메뉴
                tbody
                    tr
                        td 3981
                        td 시스템-1
                        td 시스템1-업무1
                        td 자동화 테스트 스크립트 파일-10
                        td 자동화 테스트 스크립트 설명-10
                        td Desktop
                        td 454 Kb
                        td 김신한무
                        td 2016-05-19 18:00:00
                        td
                            .hstack.gap-1.justify-content-center
                                +a-table-btn.btn-outline-primary.popup-link(
                                    href="/src/view/popup/script.pug"
                                ) 편집
                                +table-btn.btn-outline-primary 다운로드
                                +table-btn.btn-outline-danger(
                                    data-bs-toggle="modal",
                                    data-bs-target="#danger-modal"
                                ) 삭제
        +pagination
    include ../modals/server-file
    +danger-modal
block scripts
