include ../../mixins/button
include ../../mixins/modal

#case-execute.modal.fade(
    tabindex="-1",
    aria-hidden="true",
    data-bs-keyboard="false"
)
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            +modal-header("테스트케이스 실행")
            .bg-tone 
                .modal-body.d-flex.flex-column
                    .form-check.form-switch.ms-auto
                        input.form-check-input(
                            type="checkbox",
                            role="switch",
                            data-gr-type="condition",
                            data-gr-target="#execute-scheduling"
                        )
                        label.form-check-label(for="#execute-scheduling") 예약 실행
                    #execute-scheduling.collapse
                        .row 
                            .col 
                                .row.gx-3.gy-2
                                    .col #[+input-sm("예약 제목")]
                                    .col #[+input-sm("설명")]
                                    .d-block.d-lg-none.w-100.h-0
                                    .col-auto.col-lg-2
                                        +caption-sm("실행 알림")
                                        .wrap.d-flex.align-items-center
                                            +check("execute-alert", "execute-alert-email", "small d-flex my-auto", "이메일")
                                    .d-none.d-lg-block.w-100.h-0
                                    .col #[+select-sm("실행주기")]
                                    .col.col-lg-4 #[+range-sm("예약 기간")]
                                    .d-block.d-lg-none.w-100.h-0
                                    .col.col-lg-3 #[+time-sm("실행시각")]
                                    .col #[+input-sm("반복실행 횟수")]

            .modal-body
                .table-responsive
                    table#case_execute.small.table-bordered.table.table-sm.table-hover.w-100
                        thead
                            tr
                                th(scope="col")
                                    input#execute-all.form-check-input(
                                        type="checkbox",
                                        value="",
                                        name="execute",
                                        data-gr-type="condition",
                                        data-gr-target="#execute-btn"
                                    ) 
                                th(scope="col") 모델명
                                th(scope="col") 식별번호
                                th(scope="col") 해상도
                                th(scope="col") OS
                                th(scope="col") 버전
                                th(scope="col") 상태
                        tbody
                            tr
                                td #[+check("execute", "execute-1", "mb-0", null, "condition", "#execute-btn")]
                                mixin dummy
                                    td iPhone 13 Pro
                                    td 012345678901234
                                    td 1080x1920
                                    td iOS
                                    td 15.6.1
                                +dummy
                                td #[span.badge.bg-success 정상]
                            tr
                                td #[+check("execute", "execute-2", "mb-0", null, "condition", "#execute-btn")]
                                +dummy
                                td #[span.badge.bg-success 정상]
                            tr
                                td #[+check("execute", "execute-3", "mb-0", null, "condition", "#execute-btn")]
                                +dummy
                                td #[span.badge.bg-success 정상]
                            tr
                                td #[+check("execute", "execute-4", "mb-0", null, "condition", "#execute-btn")]
                                +dummy
                                td #[span.badge.bg-success 정상]
            .modal-footer.justify-content-center
                button#execute-btn.btn.btn-primary(disabled) 실행
