//- .position-relative
.top-bar.bg-white.position-relative
    .container.pt-3.small.fw-light.align-items-center.d-none.d-lg-flex
        ul.csr-list.nav.me-auto
            each csr in csrList
                li.csr-list-item
                    a.plain-link(href="#")
                        span.me-1= csr.name
                        span.csr-value= csr.value
        .user-panel.ff-shinhan
            a.text-muted.plain-link(
                role="button",
                data-bs-toggle="modal",
                data-bs-target="#change-password"
            ) #[span.fw-normal 김신한](admin)님
            a.plain-link(href="/src/view/login.pug") 로그아웃 #[i.bi.bi-chevron-right]
nav.navbar.bg-white
    .container.flex-wrap.flex-lg-nowrap.position-relative
        a.navbar-brand.me-lg-n3.me-xl-n4(href="/")
            img(src="/src/img/logo.png")
        i.bi.bi-list.fs-2.lh-sm.mt-1.me-n1.position-absolute.top-0.end-0.translate-middle-x(
            role="button",
            data-bs-toggle="modal",
            data-bs-target="#sitemap"
        )
        ul.navbar-nav.flex-row.row.row-cols-auto.row-cols-md-6.row-cols-lg-auto.gx-4.flex-grow-1.mx-lg-4.mx-xl-4.justify-content-center.text-center.text-nowrap.lh-1
            each node in nodes 
                li.col.nav-item
                    span.nav-link(
                        data-gr-target=`#offcanvas-${node.dir}`,
                        role="button"
                    )= node.title
each node in nodes 
    .offcanvas.offcanvas-top(tabindex="-1", id=`offcanvas-${node.dir}`)
        .container.vstack
            .offcanvas-header
                h5.offcanvas-title.mx-auto= node.title
            .offcanvas-body
                if node.nodes
                    ul.sub-nav.nav.justify-content-center.mb-3
                        each subNode in node.nodes
                            li.sub-nav-item
                                a.plain-link(
                                    href=`/src/view/${node.dir}/${subNode.id}.pug`
                                )= subNode.title
