extends ../layout/base
include ../mixins/form

block head
    - var title = "테스트 페이지";

block contents
    .container
        .hstack.gap-3
            h1 Title Text
            a(href="test-capture.pug") capture test
            a(href="test-editor.pug") editor test
        p.lead
            | Lead Text
            code.small.ps-2= `<shinhan sample=tag>card</shinhan>`
        p
            | Back to
            |
            | minus the navbar.

        .row.g-4
            .col-4
                span.fw-bold color scheme
                span.d-block.fs-5.fw-bold.text-primary #4868e1 (Primary)
                span.d-block.fs-5.fw-bold.text-secondary #595959 (Secondary)
                span.d-block.fs-5.fw-bold.text-info #00b4f0 (info)
                span.d-block.fs-5.fw-bold.text-dark #0b1966 (Dark)
                span.d-block.fs-5.fw-bold.text-light.bg-dark #f6f6f6 (Light)
                span.d-block.fs-5.fw-bold.text-purple #8c91ff (Purple)
                .row.mt-2
                    .col
                        .form-check
                            input#flexCheck.form-check-input(
                                type="checkbox",
                                value=""
                            )
                            label.form-check-label(for="flexCheck") checkbox
                        .form-check
                            input#flexCheckChecked.form-check-input(
                                type="checkbox",
                                value="",
                                checked=""
                            )
                            label.form-check-label(for="flexCheckChecked") checked chkbox
                        .form-check.form-check-lg
                            input#flexCheck1.form-check-input(
                                type="checkbox",
                                value=""
                            )
                            label.form-check-label(for="flexCheck1") checkbox
                        .form-check.form-check-lg
                            input#flexCheckChecked2.form-check-input(
                                type="checkbox",
                                value="",
                                checked=""
                            )
                            label.form-check-label(for="flexCheckChecked2") checked chkbox
                    .col
                        .form-check
                            input#flexRadio1.form-check-input(
                                type="radio",
                                name="flexRadio"
                            )
                            label.form-check-label(for="flexRadio1") radio
                        .form-check
                            input#flexRadio2.form-check-input(
                                type="radio",
                                name="flexRadio",
                                checked=""
                            )
                            label.form-check-label(for="flexRadio2") checked radio
                        .form-check.form-check-lg
                            input#flexRadio3.form-check-input(
                                type="radio",
                                name="flexRadio"
                            )
                            label.form-check-label(for="flexRadio3") radio
                        .form-check.form-check-lg
                            input#flexRadio4.form-check-input(
                                type="radio",
                                name="flexRadio",
                                checked=""
                            )
                            label.form-check-label(for="flexRadio4") checked radio
            .col-8
                .bg-light.h-100.w-100.rounded-3.p-4
                    .fs-2.ff-shinhan.fw-bold Shinhan 신한카드 1234567890 원신한 Bold
                    .fs-2.ff-shinhan Shinhan 신한카드 1234567890 원신한
                    .fs-2.ff-card.fw-bold Shinhan 신한카드 1234567890 신한카드 Bold
                    .fs-2.ff-card Shinhan 신한카드 1234567890 신한카드
                    .fs-2.fw-bold Shinhan 신한카드 1234567890 프리텐다드 Bold
                    .fs-2 Shinhan 신한카드 1234567890 프리텐다드
            .col-4 
                .row
                    .col
                        p.text-primary .text-primary
                        p.text-secondary .text-secondary
                        p.text-success .text-success
                        p.text-danger .text-danger
                        p.text-warning.bg-dark .text-warning
                        p.text-info .text-info
                        p.text-light.bg-dark .text-light
                        p.text-dark .text-dark
                        p.text-body .text-body
                        p.text-muted .text-muted
                    .col
                        .vstack.gap-3
                            a.d-block.link-primary(href="#") Primary link
                            a.d-block.link-secondary(href="#") Secondary link
                            a.d-block.link-success(href="#") Success link
                            a.d-block.link-danger(href="#") Danger link
                            a.d-block.link-warning.bg-dark(href="#") Warning link
                            a.d-block.link-info(href="#") Info link
                            a.d-block.link-light.bg-dark(href="#") Light link
                            a.d-block.link-dark(href="#") Dark link
                            a.d-block.plain-link(href="#") Plain Link
                .row
                    .col #[+input("input")]
                    .col #[+select("select")]
                    .col-12 #[+range("select")]
            .col-8.vstack.gap-3
                .hstack.gap-1
                    button.btn.btn-primary(type="button") Primary
                    +btn.btn-secondary(type="button") Secondary
                    button.btn.btn-success(type="button") Success
                    button.btn.btn-danger(type="button") Danger
                    button.btn.btn-warning(type="button") Warning
                    button.btn.btn-info(type="button") Info
                    button.btn.btn-light(type="button") Light
                    button.btn.btn-dark(type="button") Dark
                .hstack.gap-1
                    button.btn.btn-outline-primary(type="button") Primary
                    button.btn.btn-outline-secondary(type="button") Secondary
                    button.btn.btn-outline-success(type="button") Success
                    button.btn.btn-outline-danger(type="button") Danger
                    button.btn.btn-outline-warning(type="button") Warning
                    button.btn.btn-outline-info(type="button") Info
                    button.btn.btn-outline-light(type="button") Light
                    button.btn.btn-outline-dark(type="button") Dark
                .hstack.gap-1
                    button.btn.btn-primary(type="button", disabled="") Primary button
                    +btn.btn-secondary(
                        type="button",
                        disabled=""
                    ) Button
                    button.btn.btn-outline-primary(type="button", disabled="") Primary button
                    button.btn.btn-outline-secondary(
                        type="button",
                        disabled=""
                    ) Button
                .row.row-cols-2
                    .col
                        .form-check.form-switch
                            input#flexSwitchCheck.form-check-input(
                                type="checkbox",
                                role="switch"
                            )
                            label.form-check-label(for="flexSwitchCheck") switch checkbox input
                        .form-check.form-switch
                            input#flexSwitchCheckChecked.form-check-input(
                                type="checkbox",
                                role="switch",
                                checked=""
                            )
                            label.form-check-label(
                                for="flexSwitchCheckChecked"
                            ) Checked switch checkbox input
                        .form-check.form-switch
                            input#flexSwitchCheckDisabled.form-check-input(
                                type="checkbox",
                                role="switch",
                                disabled=""
                            )
                            label.form-check-label(
                                for="flexSwitchCheckDisabled"
                            ) Disabled switch checkbox input
                        .form-check.form-switch
                            input#flexSwitchCheckCheckedDisabled.form-check-input(
                                type="checkbox",
                                role="switch",
                                checked="",
                                disabled=""
                            )
                            label.form-check-label(
                                for="flexSwitchCheckCheckedDisabled"
                            ) Disabled checked switch checkbox input
                    .col 
                        table.table.small.table-bordered.table-sm.table-hover
                            thead
                                tr
                                    th(scope="col") 1열 제목
                                    th(scope="col") 2열 제목
                            tbody
                                tr
                                    td 정신한
                                    td 김신한
                                tr.text-center
                                    td
                                        span.badge.bg-primary.me-2 Badge
                                        span.badge.bg-success.me-2 완료
                                        span.badge.bg-danger.me-2 실패
                                    td #[button.btn.btn-sm.py-0.btn-outline-primary Table Button]
                label.form-label(for="customRange1") Example range
                    input#customRange1.form-range(type="range")
                .row
                    .col
                        .card
                            .card-body
                                h5.card-title 카드 제목
                                h6.card-subtitle.mb-2.text-muted 카드 부제목
                                p.card-text
                                    | Card body text goes here.
                                a.card-link(href="#") Card link
                                a.card-link(href="#") Another link
                    .col 
                        .modal.d-block.position-relative.mb-2(tabindex="-1")
                            .modal-dialog.m-0
                                .modal-content
                                    .modal-header
                                        h5.modal-title 모달 제목
                                        button.btn-close(
                                            type="button",
                                            data-bs-dismiss="modal",
                                            aria-label="Close"
                                        )
                                    .modal-body
                                        p Modal body text goes here.
                                    .modal-footer
                                        +btn.btn-secondary(
                                            type="button",
                                            data-bs-dismiss="modal"
                                        ) 닫기
                                        button.btn.btn-primary(type="button") 저장

block scripts
    script(src="/src/js/DEV.js", type="module")
