extends ../layout/base
include ../mixins/form
include ../mixins/pagination
include ../mixins/button
include ../mixins/modal
include ../mixins/badge

block head
    - var title = "테스트 자동화 관리";

block contents
    .container
        h4.my-3.me-auto.text-truncate= title
    .contents.container.pt-2.flex-grow-1.d-flex.flex-column.gap-4
        ul.nav.nav-tabs(role="tablist")
            li.nav-item
                a.nav-link.active(
                    data-bs-toggle="tab",
                    data-bs-target="#agent-tab",
                    type="button",
                    role="tab"
                ) 에이전트 관리
            li.nav-item
                a.nav-link(
                    data-bs-toggle="tab",
                    data-bs-target="#system-tab",
                    type="button",
                    role="tab"
                ) 시스템 설정
        .tab-content
            #agent-tab.tab-pane.show.active
                section.d-flex.flex-column.gap-3
                    .table-responsive
                        table#agent_list.table-bordered.table.table-sm.table-hover.w-100.small
                            thead
                                tr
                                    th(scope="col") ID
                                    th(scope="col") 에이전트 명
                                    th(scope="col") 접속일
                                    th(scope="col") 연결 해제
                            tbody
                                - for (var i = 1000; i <= 1010; i++)
                                    tr
                                        td= i
                                        td asdfasdf
                                        td 2022-10-20
                                        td
                                            .hstack.gap-1.justify-content-center
                                                +table-btn.btn-outline-danger.popup-link(
                                                    data-bs-toggle="modal",
                                                    data-bs-target="#danger-modal"
                                                ) 연결 해제
            #system-tab.tab-pane
                section.d-flex.flex-column.gap-3
                    span.fs-4.fw-bold.me-3 콜백 정보
                    .input-group
                        span.input-group-text 콜백 주소
                        +input
                        +btn.btn-secondary.opacity-50 주소 가져오기
                        +btn.btn-secondary 저장
                    .alert.alert-light
                        i.bi.bi-info-circle.me-2.fs-5
                        span 콜백 주소는 에이전트가 테스트 완료 후에 결과를 업로드 해야 할 주소입니다. 일반적으로 TAMS의 IP와 Port로 설정합니다.
                    span.fs-4.fw-bold.me-3 예약실행 로그 경로
                    .input-group
                        span.input-group-text 로그 경로
                        +input
                        +btn.btn-secondary 저장
                    .alert.alert-light
                        i.bi.bi-info-circle.me-2.fs-5
                        span 예약실행 시 에이전트와 서버 사이의 연결상태를 기록하는 로그파일 저장 경로를 설정합니다.
    +danger-modal("실행")
        span.d-block 연결을 해제하시겠습니까?
        span.d-block 이후 #[span.fw-bold 되돌릴 수 없습니다.]
